In [15]:
paragraph = "This is the NLP session that is going on and finally we are happy. Is everyone happy. My Deep Learning starter."

In [16]:
import nltk

In [36]:
# Coversion of paragraph into sentences

sentences = nltk.sent_tokenize(paragraph)

In [37]:
sentences

['This is the NLP session that is going on and finally we are happy.',
 'Is everyone happy.',
 'My Deep Learning starter.']

In [18]:
# tokenization: Coversion of sentences into words
nltk.word_tokenize(paragraph)

['This',
 'is',
 'the',
 'NLP',
 'session',
 'that',
 'is',
 'going',
 'on',
 'and',
 'finally',
 'we',
 'are',
 'happy',
 '.',
 'Is',
 'everyone',
 'happy',
 '.',
 'My',
 'Deep',
 'Learning',
 'starter',
 '.']

In [20]:
from nltk.stem import PorterStemmer

In [21]:
stemmer = PorterStemmer()

In [22]:
stemmer.stem("going")

'go'

In [23]:
stemmer.stem("finally")

'final'

In [24]:
stemmer.stem("history")

'histori'

In [25]:
stemmer.stem("organization")

'organ'

In [26]:
stemmer.stem("happy")

'happi'

In [27]:
from nltk.stem import WordNetLemmatizer

In [28]:
lemmatizer = WordNetLemmatizer()

In [33]:
lemmatizer.lemmatize("history")

'history'

In [34]:
lemmatizer.lemmatize("eating")

'eating'

In [35]:
lemmatizer.lemmatize("historical")

'historical'

In [38]:
sentences

['This is the NLP session that is going on and finally we are happy.',
 'Is everyone happy.',
 'My Deep Learning starter.']

In [55]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words] 
    print(words)
    corpus.append(" ".join(words))

['thi', 'is', 'the', 'nlp', 'session', 'that', 'is', 'go', 'on', 'and', 'final', 'we', 'are', 'happi', '.']
['is', 'everyon', 'happi', '.']
['my', 'deep', 'learn', 'starter', '.']

In [56]:
corpus

['thi is the nlp session that is go on and final we are happi .',
 'is everyon happi .',
 'my deep learn starter .']

In [57]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words] 
    print(words)
    corpus.append(" ".join(words))

['This', 'is', 'the', 'NLP', 'session', 'that', 'is', 'going', 'on', 'and', 'finally', 'we', 'are', 'happy', '.']
['Is', 'everyone', 'happy', '.']
['My', 'Deep', 'Learning', 'starter', '.']

In [58]:
corpus

['This is the NLP session that is going on and finally we are happy .',
 'Is everyone happy .',
 'My Deep Learning starter .']

In [65]:
paragraph = """Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000),the third highest civilian honour.[4]

Born in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world."""

In [66]:
paragraph

"Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, and a former chairman of Tata Sons. He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000),the third highest civilian honour.[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group. He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991. He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business. Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world."

In [67]:
sentences = nltk.sent_tokenize(paragraph)

In [68]:
sentences

['Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000),the third highest civilian honour.',
 '[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [69]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words] 
    print(words)
    corpus.append(" ".join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'is', 'an', 'indian', 'industrialist', ',', 'and', 'a', 'former', 'chairman', 'of', 'tata', 'son', '.']
['he', 'wa', 'the', 'chairman', 'of', 'tata', 'group', ',', 'from', '1990', 'to', '2012', ',', 'and', 'again', ',', 'as', 'interim', 'chairman', ',', 'from', 'octob', '2016', 'through', 'februari', '2017', ',', 'and', 'continu', 'to', 'head', 'it', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'he', 'is', 'the', 'recipi', 'of', 'two', 'civilian', 'award', 'of', 'india', ',', 'the', 'padma', 'vibhushan', '(', '2008', ')', ',', 'the', 'second', 'highest', 'civilian', 'honour', ',', 'and', 'the', 'padma', 'bhushan', '(', '2000', ')', ',', 'the', 'third', 'highest', 'civilian', 'honour', '.']
['[', '4', ']', 'born', 'in', '1937', ',', 'he', 'is', 'an', 'heir', 'of', 'the', 'tata', 'famili', ',', 'and', 'son', 'of', 'naval', 'tata', 'who', 'wa', 'later', 'adopt', 'by', 'ratanji', 'tata', ',', 'son', 'of', 'jamsetji', 'tata', ',', 'the', 'founder', 'of', 'tata', 'group', '.']
['he', 'is', 'an', 'alumnu', 'of', 'the', 'cornel', 'univers', 'colleg', 'of', 'architectur', 'and', 'harvard', 'busi', 'school', 'through', 'the', 'advanc', 'manag', 'program', 'that', 'he', 'complet', 'in', '1975', '.']
['[', '5', ']', 'he', 'join', 'hi', 'compani', 'in', '1961', 'when', 'he', 'use', 'to', 'work', 'on', 'the', 'shop', 'floor', 'of', 'tata', 'steel', ',', 'and', 'wa', 'the', 'appar', 'successor', 'to', 'j.', 'r.', 'd.', 'tata', 'upon', 'the', 'latter', "'s", 'retir', 'in', '1991', '.']
['he', 'got', 'tata', 'tea', 'to', 'acquir', 'tetley', ',', 'tata', 'motor', 'to', 'acquir', 'jaguar', 'land', 'rover', ',', 'and', 'tata', 'steel', 'to', 'acquir', 'coru', ',', 'in', 'an', 'attempt', 'to', 'turn', 'tata', 'from', 'a', 'larg', 'india-centrist', 'group', 'into', 'a', 'global', 'busi', '.']
['around', '60-65', '%', 'of', 'hi', 'profit', 'are', 'donat', 'to', 'chariti', 'make', 'him', 'one', 'of', 'the', 'most', 'signific', 'philanthropist', 'in', 'the', 'world', '.']

In [70]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) is an indian industrialist , and a former chairman of tata son .',
 'he wa the chairman of tata group , from 1990 to 2012 , and again , as interim chairman , from octob 2016 through februari 2017 , and continu to head it charit trust .',
 '[ 2 ] [ 3 ] he is the recipi of two civilian award of india , the padma vibhushan ( 2008 ) , the second highest civilian honour , and the padma bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 4 ] born in 1937 , he is an heir of the tata famili , and son of naval tata who wa later adopt by ratanji tata , son of jamsetji tata , the founder of tata group .',
 'he is an alumnu of the cornel univers colleg of architectur and harvard busi school through the advanc manag program that he complet in 1975 .',
 "[ 5 ] he join hi compani in 1961 when he use to work on the shop floor of tata steel , and wa the appar successor to j. r. d. tata upon the latter 's retir in 1991 .",
 'he got tata tea to acquir tetley , tata motor to acquir jaguar land rover , and tata steel to acquir coru , in an attempt to turn tata from a larg india-centrist group into a global busi .',
 'around 60-65 % of hi profit are donat to chariti make him one of the most signific philanthropist in the world .']

In [71]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i])
    words = [lemmatizer.lemmatize(word) for word in words] 
    print(words)
    corpus.append(" ".join(words))

['Ratan', 'Naval', 'Tata', '(', 'born', '28', 'December', '1937', ')', 'is', 'an', 'Indian', 'industrialist', ',', 'and', 'a', 'former', 'chairman', 'of', 'Tata', 'Sons', '.']
['He', 'wa', 'the', 'chairman', 'of', 'Tata', 'Group', ',', 'from', '1990', 'to', '2012', ',', 'and', 'again', ',', 'a', 'interim', 'chairman', ',', 'from', 'October', '2016', 'through', 'February', '2017', ',', 'and', 'continues', 'to', 'head', 'it', 'charitable', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'He', 'is', 'the', 'recipient', 'of', 'two', 'civilian', 'award', 'of', 'India', ',', 'the', 'Padma', 'Vibhushan', '(', '2008', ')', ',', 'the', 'second', 'highest', 'civilian', 'honour', ',', 'and', 'the', 'Padma', 'Bhushan', '(', '2000', ')', ',', 'the', 'third', 'highest', 'civilian', 'honour', '.']
['[', '4', ']', 'Born', 'in', '1937', ',', 'he', 'is', 'an', 'heir', 'of', 'the', 'Tata', 'family', ',', 'and', 'son', 'of', 'Naval', 'Tata', 'who', 'wa', 'later', 'adopted', 'by', 'Ratanji', 'Tata', ',', 'son', 'of', 'Jamsetji', 'Tata', ',', 'the', 'founder', 'of', 'Tata', 'Group', '.']
['He', 'is', 'an', 'alumnus', 'of', 'the', 'Cornell', 'University', 'College', 'of', 'Architecture', 'and', 'Harvard', 'Business', 'School', 'through', 'the', 'Advanced', 'Management', 'Program', 'that', 'he', 'completed', 'in', '1975', '.']
['[', '5', ']', 'He', 'joined', 'his', 'company', 'in', '1961', 'when', 'he', 'used', 'to', 'work', 'on', 'the', 'shop', 'floor', 'of', 'Tata', 'Steel', ',', 'and', 'wa', 'the', 'apparent', 'successor', 'to', 'J.', 'R.', 'D.', 'Tata', 'upon', 'the', 'latter', "'s", 'retirement', 'in', '1991', '.']
['He', 'got', 'Tata', 'Tea', 'to', 'acquire', 'Tetley', ',', 'Tata', 'Motors', 'to', 'acquire', 'Jaguar', 'Land', 'Rover', ',', 'and', 'Tata', 'Steel', 'to', 'acquire', 'Corus', ',', 'in', 'an', 'attempt', 'to', 'turn', 'Tata', 'from', 'a', 'largely', 'India-centrist', 'group', 'into', 'a', 'global', 'business', '.']
['Around', '60-65', '%', 'of', 'his', 'profit', 'are', 'donated', 'to', 'charity', 'making', 'him', 'one', 'of', 'the', 'most', 'significant', 'philanthropist', 'in', 'the', 'world', '.']

In [72]:
corpus

['Ratan Naval Tata ( born 28 December 1937 ) is an Indian industrialist , and a former chairman of Tata Sons .',
 'He wa the chairman of Tata Group , from 1990 to 2012 , and again , a interim chairman , from October 2016 through February 2017 , and continues to head it charitable trust .',
 '[ 2 ] [ 3 ] He is the recipient of two civilian award of India , the Padma Vibhushan ( 2008 ) , the second highest civilian honour , and the Padma Bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 4 ] Born in 1937 , he is an heir of the Tata family , and son of Naval Tata who wa later adopted by Ratanji Tata , son of Jamsetji Tata , the founder of Tata Group .',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975 .',
 "[ 5 ] He joined his company in 1961 when he used to work on the shop floor of Tata Steel , and wa the apparent successor to J. R. D. Tata upon the latter 's retirement in 1991 .",
 'He got Tata Tea to acquire Tetley , Tata Motors to acquire Jaguar Land Rover , and Tata Steel to acquire Corus , in an attempt to turn Tata from a largely India-centrist group into a global business .',
 'Around 60-65 % of his profit are donated to charity making him one of the most significant philanthropist in the world .']

In [73]:
lemmatizer.lemmatize("was")

'wa'

In [76]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [77]:
stop_words = stopwords.words('english')

In [78]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [79]:
for i in ["change", "change", "changing", "changeable"]:
    print(lemmatizer.lemmatize(i))

change
change
changing
changeable

In [80]:
lemmatizer.lemmatize("sweets")

'sweet'

In [81]:
print("better: ", lemmatizer.lemmatize("better", pos="a"))

better:  good

In [82]:
corpus

['Ratan Naval Tata ( born 28 December 1937 ) is an Indian industrialist , and a former chairman of Tata Sons .',
 'He wa the chairman of Tata Group , from 1990 to 2012 , and again , a interim chairman , from October 2016 through February 2017 , and continues to head it charitable trust .',
 '[ 2 ] [ 3 ] He is the recipient of two civilian award of India , the Padma Vibhushan ( 2008 ) , the second highest civilian honour , and the Padma Bhushan ( 2000 ) , the third highest civilian honour .',
 '[ 4 ] Born in 1937 , he is an heir of the Tata family , and son of Naval Tata who wa later adopted by Ratanji Tata , son of Jamsetji Tata , the founder of Tata Group .',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975 .',
 "[ 5 ] He joined his company in 1961 when he used to work on the shop floor of Tata Steel , and wa the apparent successor to J. R. D. Tata upon the latter 's retirement in 1991 .",
 'He got Tata Tea to acquire Tetley , Tata Motors to acquire Jaguar Land Rover , and Tata Steel to acquire Corus , in an attempt to turn Tata from a largely India-centrist group into a global business .',
 'Around 60-65 % of his profit are donated to charity making him one of the most significant philanthropist in the world .']

In [86]:
corpus = []
for i in range(len(sentences)):
    words = nltk.word_tokenize(sentences[i].lower())
    words = [stemmer.stem(word) for word in words if not word in stop_words] 
    print(words)
    corpus.append(" ".join(words))

['ratan', 'naval', 'tata', '(', 'born', '28', 'decemb', '1937', ')', 'indian', 'industrialist', ',', 'former', 'chairman', 'tata', 'son', '.']
['chairman', 'tata', 'group', ',', '1990', '2012', ',', ',', 'interim', 'chairman', ',', 'octob', '2016', 'februari', '2017', ',', 'continu', 'head', 'charit', 'trust', '.']
['[', '2', ']', '[', '3', ']', 'recipi', 'two', 'civilian', 'award', 'india', ',', 'padma', 'vibhushan', '(', '2008', ')', ',', 'second', 'highest', 'civilian', 'honour', ',', 'padma', 'bhushan', '(', '2000', ')', ',', 'third', 'highest', 'civilian', 'honour', '.']
['[', '4', ']', 'born', '1937', ',', 'heir', 'tata', 'famili', ',', 'son', 'naval', 'tata', 'later', 'adopt', 'ratanji', 'tata', ',', 'son', 'jamsetji', 'tata', ',', 'founder', 'tata', 'group', '.']
['alumnu', 'cornel', 'univers', 'colleg', 'architectur', 'harvard', 'busi', 'school', 'advanc', 'manag', 'program', 'complet', '1975', '.']
['[', '5', ']', 'join', 'compani', '1961', 'use', 'work', 'shop', 'floor', 'tata', 'steel', ',', 'appar', 'successor', 'j.', 'r.', 'd.', 'tata', 'upon', 'latter', "'s", 'retir', '1991', '.']
['got', 'tata', 'tea', 'acquir', 'tetley', ',', 'tata', 'motor', 'acquir', 'jaguar', 'land', 'rover', ',', 'tata', 'steel', 'acquir', 'coru', ',', 'attempt', 'turn', 'tata', 'larg', 'india-centrist', 'group', 'global', 'busi', '.']
['around', '60-65', '%', 'profit', 'donat', 'chariti', 'make', 'one', 'signific', 'philanthropist', 'world', '.']

In [87]:
corpus

['ratan naval tata ( born 28 decemb 1937 ) indian industrialist , former chairman tata son .',
 'chairman tata group , 1990 2012 , , interim chairman , octob 2016 februari 2017 , continu head charit trust .',
 '[ 2 ] [ 3 ] recipi two civilian award india , padma vibhushan ( 2008 ) , second highest civilian honour , padma bhushan ( 2000 ) , third highest civilian honour .',
 '[ 4 ] born 1937 , heir tata famili , son naval tata later adopt ratanji tata , son jamsetji tata , founder tata group .',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975 .',
 "[ 5 ] join compani 1961 use work shop floor tata steel , appar successor j. r. d. tata upon latter 's retir 1991 .",
 'got tata tea acquir tetley , tata motor acquir jaguar land rover , tata steel acquir coru , attempt turn tata larg india-centrist group global busi .',
 'around 60-65 % profit donat chariti make one signific philanthropist world .']

In [88]:
from sklearn.feature_extraction.text import CountVectorizer

In [89]:
sentences

['Ratan Naval Tata (born 28 December 1937) is an Indian industrialist, and a former chairman of Tata Sons.',
 'He was the chairman of Tata Group, from 1990 to 2012, and again, as interim chairman, from October 2016 through February 2017, and continues to head its charitable trusts.',
 '[2][3] He is the recipient of two civilian awards of India, the Padma Vibhushan (2008), the second highest civilian honour, and the Padma Bhushan (2000),the third highest civilian honour.',
 '[4]\n\nBorn in 1937, he is an heir of the Tata family, and son of Naval Tata who was later adopted by Ratanji Tata, son of Jamsetji Tata, the founder of Tata Group.',
 'He is an alumnus of the Cornell University College of Architecture and Harvard Business School through the Advanced Management Program that he completed in 1975.',
 "[5] He joined his company in 1961 when he used to work on the shop floor of Tata Steel, and was the apparent successor to J. R. D. Tata upon the latter's retirement in 1991.",
 'He got Tata Tea to acquire Tetley, Tata Motors to acquire Jaguar Land Rover, and Tata Steel to acquire Corus, in an attempt to turn Tata from a largely India-centrist group into a global business.',
 'Around 60-65% of his profits are donated to charity making him one of the most significant philanthropists in the world.']

In [91]:
import re
corpus = []
for i in range(len(sentences)):
    text = re.sub('[^a-zA-Z1-9]',' ',sentences[i])
    text = text.lower()
    words = text.split()
    words = [stemmer.stem(word) for word in words if not word in stop_words] 
    print(words)
    corpus.append(" ".join(words))

['ratan', 'naval', 'tata', 'born', '28', 'decemb', '1937', 'indian', 'industrialist', 'former', 'chairman', 'tata', 'son']
['chairman', 'tata', 'group', '199', '2', '12', 'interim', 'chairman', 'octob', '2', '16', 'februari', '2', '17', 'continu', 'head', 'charit', 'trust']
['2', '3', 'recipi', 'two', 'civilian', 'award', 'india', 'padma', 'vibhushan', '2', '8', 'second', 'highest', 'civilian', 'honour', 'padma', 'bhushan', '2', 'third', 'highest', 'civilian', 'honour']
['4', 'born', '1937', 'heir', 'tata', 'famili', 'son', 'naval', 'tata', 'later', 'adopt', 'ratanji', 'tata', 'son', 'jamsetji', 'tata', 'founder', 'tata', 'group']
['alumnu', 'cornel', 'univers', 'colleg', 'architectur', 'harvard', 'busi', 'school', 'advanc', 'manag', 'program', 'complet', '1975']
['5', 'join', 'compani', '1961', 'use', 'work', 'shop', 'floor', 'tata', 'steel', 'appar', 'successor', 'j', 'r', 'tata', 'upon', 'latter', 'retir', '1991']
['got', 'tata', 'tea', 'acquir', 'tetley', 'tata', 'motor', 'acquir', 'jaguar', 'land', 'rover', 'tata', 'steel', 'acquir', 'coru', 'attempt', 'turn', 'tata', 'larg', 'india', 'centrist', 'group', 'global', 'busi']
['around', '6', '65', 'profit', 'donat', 'chariti', 'make', 'one', 'signific', 'philanthropist', 'world']

In [92]:
corpus

['ratan naval tata born 28 decemb 1937 indian industrialist former chairman tata son',
 'chairman tata group 199 2 12 interim chairman octob 2 16 februari 2 17 continu head charit trust',
 '2 3 recipi two civilian award india padma vibhushan 2 8 second highest civilian honour padma bhushan 2 third highest civilian honour',
 '4 born 1937 heir tata famili son naval tata later adopt ratanji tata son jamsetji tata founder tata group',
 'alumnu cornel univers colleg architectur harvard busi school advanc manag program complet 1975',
 '5 join compani 1961 use work shop floor tata steel appar successor j r tata upon latter retir 1991',
 'got tata tea acquir tetley tata motor acquir jaguar land rover tata steel acquir coru attempt turn tata larg india centrist group global busi',
 'around 6 65 profit donat chariti make one signific philanthropist world']

In [93]:
cv = CountVectorizer()

In [95]:
spare_matrix = cv.fit_transform(corpus)

In [96]:
spare_matrix

<8x94 sparse matrix of type '<class 'numpy.int64'>'
	with 108 stored elements in Compressed Sparse Row format>

In [100]:
# applied BOW
spare_matrix.toarray()

array([[0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 2, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 5, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 2, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 4, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1]], dtype=int64)

In [101]:
cv.vocabulary_   #feature index

{'ratan': 69,
 'naval': 62,
 'tata': 81,
 'born': 20,
 '28': 8,
 'decemb': 33,
 '1937': 3,
 'indian': 49,
 'industrialist': 50,
 'former': 38,
 'chairman': 23,
 'son': 78,
 'group': 42,
 '199': 6,
 '12': 0,
 'interim': 51,
 'octob': 63,
 '16': 1,
 'februari': 36,
 '17': 2,
 'continu': 30,
 'head': 44,
 'charit': 24,
 'trust': 85,
 'recipi': 71,
 'two': 87,
 'civilian': 26,
 'award': 18,
 'india': 48,
 'padma': 65,
 'vibhushan': 91,
 'second': 75,
 'highest': 46,
 'honour': 47,
 'bhushan': 19,
 'third': 84,
 'heir': 45,
 'famili': 35,
 'later': 57,
 'adopt': 11,
 'ratanji': 70,
 'jamsetji': 53,
 'founder': 39,
 'alumnu': 13,
 'cornel': 31,
 'univers': 88,
 'colleg': 27,
 'architectur': 15,
 'harvard': 43,
 'busi': 21,
 'school': 74,
 'advanc': 12,
 'manag': 60,
 'program': 68,
 'complet': 29,
 '1975': 5,
 'join': 54,
 'compani': 28,
 '1961': 4,
 'use': 90,
 'work': 92,
 'shop': 76,
 'floor': 37,
 'steel': 79,
 'appar': 14,
 'successor': 80,
 'upon': 89,
 'latter': 58,
 'retir': 72,
 '1991': 7,
 'got': 41,
 'tea': 82,
 'acquir': 10,
 'tetley': 83,
 'motor': 61,
 'jaguar': 52,
 'land': 55,
 'rover': 73,
 'coru': 32,
 'attempt': 17,
 'turn': 86,
 'larg': 56,
 'centrist': 22,
 'global': 40,
 'around': 16,
 '65': 9,
 'profit': 67,
 'donat': 34,
 'chariti': 25,
 'make': 59,
 'one': 64,
 'signific': 77,
 'philanthropist': 66,
 'world': 93}

In [102]:
cv = CountVectorizer(binary=True,ngram_range=(1,2))

In [103]:
spare_matrix = cv.fit_transform(corpus)

In [104]:
spare_matrix

<8x205 sparse matrix of type '<class 'numpy.int64'>'
	with 224 stored elements in Compressed Sparse Row format>

In [105]:
spare_matrix.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 1, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1]], dtype=int64)

In [106]:
cv.vocabulary_

{'ratan': 145,
 'naval': 130,
 'tata': 171,
 'born': 41,
 '28': 15,
 'decemb': 70,
 '1937': 6,
 'indian': 104,
 'industrialist': 106,
 'former': 80,
 'chairman': 48,
 'son': 163,
 'ratan naval': 146,
 'naval tata': 131,
 'tata born': 172,
 'born 28': 43,
 '28 decemb': 16,
 'decemb 1937': 71,
 '1937 indian': 8,
 'indian industrialist': 105,
 'industrialist former': 107,
 'former chairman': 81,
 'chairman tata': 50,
 'tata son': 179,
 'group': 88,
 '199': 12,
 '12': 0,
 'interim': 108,
 'octob': 132,
 '16': 2,
 'februari': 76,
 '17': 4,
 'continu': 64,
 'head': 93,
 'charit': 51,
 'trust': 189,
 'tata group': 175,
 'group 199': 89,
 '199 12': 13,
 '12 interim': 1,
 'interim chairman': 109,
 'chairman octob': 49,
 'octob 16': 133,
 '16 februari': 3,
 'februari 17': 77,
 '17 continu': 5,
 'continu head': 65,
 'head charit': 94,
 'charit trust': 52,
 'recipi': 149,
 'two': 192,
 'civilian': 55,
 'award': 37,
 'india': 101,
 'padma': 136,
 'vibhushan': 200,
 'second': 157,
 'highest': 97,
 'honour': 99,
 'bhushan': 39,
 'third': 187,
 'recipi two': 150,
 'two civilian': 193,
 'civilian award': 56,
 'award india': 38,
 'india padma': 103,
 'padma vibhushan': 138,
 'vibhushan second': 201,
 'second highest': 158,
 'highest civilian': 98,
 'civilian honour': 57,
 'honour padma': 100,
 'padma bhushan': 137,
 'bhushan third': 40,
 'third highest': 188,
 'heir': 95,
 'famili': 74,
 'later': 120,
 'adopt': 23,
 'ratanji': 147,
 'jamsetji': 112,
 'founder': 82,
 'born 1937': 42,
 '1937 heir': 7,
 'heir tata': 96,
 'tata famili': 173,
 'famili son': 75,
 'son naval': 165,
 'tata later': 177,
 'later adopt': 121,
 'adopt ratanji': 24,
 'ratanji tata': 148,
 'son jamsetji': 164,
 'jamsetji tata': 113,
 'tata founder': 174,
 'founder tata': 83,
 'alumnu': 27,
 'cornel': 66,
 'univers': 194,
 'colleg': 58,
 'architectur': 31,
 'harvard': 91,
 'busi': 44,
 'school': 155,
 'advanc': 25,
 'manag': 126,
 'program': 143,
 'complet': 62,
 '1975': 11,
 'alumnu cornel': 28,
 'cornel univers': 67,
 'univers colleg': 195,
 'colleg architectur': 59,
 'architectur harvard': 32,
 'harvard busi': 92,
 'busi school': 45,
 'school advanc': 156,
 'advanc manag': 26,
 'manag program': 127,
 'program complet': 144,
 'complet 1975': 63,
 'join': 114,
 'compani': 60,
 '1961': 9,
 'use': 198,
 'work': 202,
 'shop': 159,
 'floor': 78,
 'steel': 166,
 'appar': 29,
 'successor': 169,
 'upon': 196,
 'latter': 122,
 'retir': 151,
 '1991': 14,
 'join compani': 115,
 'compani 1961': 61,
 '1961 use': 10,
 'use work': 199,
 'work shop': 203,
 'shop floor': 160,
 'floor tata': 79,
 'tata steel': 180,
 'steel appar': 168,
 'appar successor': 30,
 'successor tata': 170,
 'tata upon': 182,
 'upon latter': 197,
 'latter retir': 123,
 'retir 1991': 152,
 'got': 86,
 'tea': 183,
 'acquir': 19,
 'tetley': 185,
 'motor': 128,
 'jaguar': 110,
 'land': 116,
 'rover': 153,
 'coru': 68,
 'attempt': 35,
 'turn': 190,
 'larg': 118,
 'centrist': 46,
 'global': 84,
 'got tata': 87,
 'tata tea': 181,
 'tea acquir': 184,
 'acquir tetley': 22,
 'tetley tata': 186,
 'tata motor': 178,
 'motor acquir': 129,
 'acquir jaguar': 21,
 'jaguar land': 111,
 'land rover': 117,
 'rover tata': 154,
 'steel acquir': 167,
 'acquir coru': 20,
 'coru attempt': 69,
 'attempt turn': 36,
 'turn tata': 191,
 'tata larg': 176,
 'larg india': 119,
 'india centrist': 102,
 'centrist group': 47,
 'group global': 90,
 'global busi': 85,
 'around': 33,
 '65': 17,
 'profit': 141,
 'donat': 72,
 'chariti': 53,
 'make': 124,
 'one': 134,
 'signific': 161,
 'philanthropist': 139,
 'world': 204,
 'around 65': 34,
 '65 profit': 18,
 'profit donat': 142,
 'donat chariti': 73,
 'chariti make': 54,
 'make one': 125,
 'one signific': 135,
 'signific philanthropist': 162,
 'philanthropist world': 140}

In [107]:
spare_matrix.toarray().shape

(8, 205)

In [108]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [109]:
tf_idf = TfidfVectorizer()

In [110]:
spare_matrix = tf_idf.fit_transform(corpus)

In [111]:
spare_matrix

<8x94 sparse matrix of type '<class 'numpy.float64'>'
	with 108 stored elements in Compressed Sparse Row format>

In [112]:
spare_matrix.toarray()

array([[0.        , 0.        , 0.        , 0.25535057, 0.        ,
        0.        , 0.        , 0.        , 0.30468591, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.25535057, 0.        , 0.        , 0.25535057, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.30468591, 0.        ,
        0.        , 0.        , 0.        , 0.30468591, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.30468591,
        0.30468591, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25535057, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.30468591,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.25535057, 0.        ,
        0.        , 0.34202251, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.26128699, 0.26128699, 0.26128699, 0.        , 0.        ,
        0.        , 0.26128699, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.43795777, 0.26128699,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.26128699, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.26128699, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.18896081, 0.        , 0.26128699,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.26128699, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.26128699, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.14665271, 0.        , 0.        , 0.        ,
        0.26128699, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18665563, 0.18665563,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.55996688, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.37331125, 0.37331125, 0.15643198, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.37331125, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.18665563, 0.        , 0.        , 0.        ,
        0.18665563, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.18665563,
        0.        , 0.        , 0.18665563, 0.        , 0.        ,
        0.        , 0.18665563, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.18594024, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.22186506, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18594024, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.22186506, 0.        , 0.        , 0.        , 0.22186506,
        0.        , 0.        , 0.16045117, 0.        , 0.        ,
        0.22186506, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.22186506, 0.        ,
        0.        , 0.        , 0.22186506, 0.        , 0.        ,
        0.        , 0.        , 0.18594024, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.22186506, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.37188048, 0.        ,
        0.        , 0.62263173, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28058053, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.28058053, 0.28058053, 0.        ,
        0.28058053, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.23514839, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.28058053, 0.        , 0.28058053,
        0.        , 0.28058053, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.28058053, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28058053, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.28058053, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.28058053,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.28058053, 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.25852247,
        0.        , 0.        , 0.25852247, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.25852247,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.25852247, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25852247, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.25852247,
        0.        , 0.        , 0.        , 0.25852247, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.25852247, 0.        , 0.        ,
        0.        , 0.25852247, 0.        , 0.        , 0.21666201,
        0.25852247, 0.29020214, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.25852247,
        0.25852247, 0.        , 0.25852247, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.55075522, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.18358507, 0.        , 0.        ,
        0.        , 0.15385862, 0.18358507, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.18358507, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18358507, 0.18358507, 0.13276736, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.15385862, 0.        ,
        0.        , 0.        , 0.18358507, 0.        , 0.        ,
        0.18358507, 0.18358507, 0.        , 0.        , 0.        ,
        0.        , 0.18358507, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.18358507, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.15385862,
        0.        , 0.41216364, 0.18358507, 0.18358507, 0.        ,
        0.        , 0.18358507, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31622777,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.31622777, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.31622777, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31622777,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.31622777,
        0.        , 0.        , 0.        , 0.        , 0.31622777,
        0.        , 0.31622777, 0.31622777, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.31622777, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.31622777]])

In [113]:
spare_matrix.toarray().shape

(8, 94)

In [114]:
tf_idf.vocabulary_

{'ratan': 69,
 'naval': 62,
 'tata': 81,
 'born': 20,
 '28': 8,
 'decemb': 33,
 '1937': 3,
 'indian': 49,
 'industrialist': 50,
 'former': 38,
 'chairman': 23,
 'son': 78,
 'group': 42,
 '199': 6,
 '12': 0,
 'interim': 51,
 'octob': 63,
 '16': 1,
 'februari': 36,
 '17': 2,
 'continu': 30,
 'head': 44,
 'charit': 24,
 'trust': 85,
 'recipi': 71,
 'two': 87,
 'civilian': 26,
 'award': 18,
 'india': 48,
 'padma': 65,
 'vibhushan': 91,
 'second': 75,
 'highest': 46,
 'honour': 47,
 'bhushan': 19,
 'third': 84,
 'heir': 45,
 'famili': 35,
 'later': 57,
 'adopt': 11,
 'ratanji': 70,
 'jamsetji': 53,
 'founder': 39,
 'alumnu': 13,
 'cornel': 31,
 'univers': 88,
 'colleg': 27,
 'architectur': 15,
 'harvard': 43,
 'busi': 21,
 'school': 74,
 'advanc': 12,
 'manag': 60,
 'program': 68,
 'complet': 29,
 '1975': 5,
 'join': 54,
 'compani': 28,
 '1961': 4,
 'use': 90,
 'work': 92,
 'shop': 76,
 'floor': 37,
 'steel': 79,
 'appar': 14,
 'successor': 80,
 'upon': 89,
 'latter': 58,
 'retir': 72,
 '1991': 7,
 'got': 41,
 'tea': 82,
 'acquir': 10,
 'tetley': 83,
 'motor': 61,
 'jaguar': 52,
 'land': 55,
 'rover': 73,
 'coru': 32,
 'attempt': 17,
 'turn': 86,
 'larg': 56,
 'centrist': 22,
 'global': 40,
 'around': 16,
 '65': 9,
 'profit': 67,
 'donat': 34,
 'chariti': 25,
 'make': 59,
 'one': 64,
 'signific': 77,
 'philanthropist': 66,
 'world': 93}

In [117]:
# new test data
data = ["I want to have food"]
result = cv.transform(data)

In [118]:
result

<1x205 sparse matrix of type '<class 'numpy.int64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [121]:
result.toarray() #because of out of vocabulary

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [122]:
data = ["I want to ratan data son"]
cv.transform(data).toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [125]:
import pickle 
pickle.dump(tf_idf,open('tfdif.pkl','wb'))